{% extends 'base.html.twig' %}

{% block body %}
    <div class="top_page">
        <img src="{{ asset('img/Groupe 1758@2x.png') }}" class="bg">

        <div class="title">
            <h2>We Create Applications With Excellent Technology.</h2>
            <h4>It Is A Long Established Fact That A Reader Will Be Distracted By The Readable Content</h4>
        </div>
    </div>

    <div class="first_part">
        <div class="title_part">
            <h2>We provide various kind of service for you</h2>
            <h4>It Is A Long Established Fact That A Reader Will Be Distracted By The Readable Content Of A Page When Looking At Its Layout. The Point Of Using Lorem</h4>
        </div>

        <div class="card_container">
            <div class="card">
                <img src="{{ asset('img/smartphone (1)@2x.png') }}" class="img_card">

                <h3>Unique App Ui</h3>
                <h5>It Is A Long Established Fact That A Reader Will Be Distracted By The Readable Content Of A Page</h5>
            </div>

            <div class="card">
                <img src="{{ asset('img/Dashboard@2x.png') }}" class="img_card">
                    
                <h3>Exclient Dashboard</h3>
                <h5>It Is A Long Established Fact That A Reader Will Be Distracted By The Readable Content Of A Page</h5>
            </div>

            <div class="card">
                <img src="{{ asset('img/layout@2x.png') }}" class="img_card">
                    
                <h3>By Construction</h3>
                <h5>It Is A Long Established Fact That A Reader Will Be Distracted By The Readable Content Of A Page</h5>
            </div>
        </div>
    </div>
{% endblock %}